/* @charset "UTF-8";

html, body{
	margin:0;
	padding:0;
	font-family:"Roboto";
	color:black;
}

/************\
   Connexion
\************

.form_container{
	width: 30%;
    margin: 0% auto 0 auto;
    transform: translateY(50%);
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

h1{
	
	
	font-size:25px;
	color:white;
	padding:7px;
	background: linear-gradient(to right, #5AAD4F, #86B93C);
	border-radius:5px;
}

.h1_form{
	width:30%;
	margin: 20px auto;
}

input{
	width:80%;
	border-radius:5px;
	border:1px solid lightgrey;
	padding: 15px 5px 15px 3px;
	margin: 20px auto;
	
}

input[type=password]{
	background-image: url('CSS/img/star.png');
    background-repeat: no-repeat;
}

input[type=text]{
	background-image: url('CSS/img/enveloppe.png');
    background-repeat: no-repeat;
    background-size:30px;
    background-origin: content-box;
}

.remember{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	text-align:center;
}

.remember input{
	
	width:30px;
	height:20px;
	margin:0;
	padding:0;
}

.submit{
	width:30%;
	}

.btn{
	color:white;
	border:none;
	padding:7px;
	font-size:22px;
	background-color:#0071D0;
	border-radius:5px;
	text-decoration:none;
	cursor:pointer;
}

/************\
 finalRegister
\************/
.container_input_label{
	width:33%
}

/************\
	 Menu
\************/

nav{
	display:flex;
	justify-content: space-between;
	align-items:center;
	height:50px;
}

nav h1{
	width:auto;
	margin: 3px;
}

nav ul{
	width:45%;
	display:flex;
	justify-content: right;
	align-items:center;
}

nav ul li{
	padding:10px;
	list-style:none;
	
}

nav ul li a{
	text-decoration:none;
	color:black;
	font-size:25px;
}

/************\
  Transfert
\************/

.path{
	background-color:#f5f5f5;
	padding:5px 0 5px 10px;
}

.path span{
	margin:5px 15px;
	padding:5px 0;
	font-size:25px;
	text-transform:bold;
}

section{
	width:60%;
	margin:40px auto;	
}

.header_money{
	display:flex;
	justify-content:space-between;
}

.header_money h2{
	margin: 0;
}

.header_money a{
	padding:7px 25px;
}

.container_money{
	width:70%;
	height:45px;
	margin:auto auto;	
	display:flex;
	align-items:center;
}

.container_money p{
	width: 20%;
    text-align: center;
    font-size: 22px;
}

.control_money{
	width:100%;
	height:150px;
	margin:0 auto;	
	display:flex;
	justify-content:space-between;
	background-color:#f5f5f5;
}

.control_money select{
	width:30%;
	height:100%;
	border:1px solid black;
	padding: 0 5px;
}

.control_money input[type=number]{
	width:30%;
	height:100%;
	border:1px solid black;
	border-radius:0;
	padding:0;
	text-align: end;
}

input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        opacity: 1;

      }

.control_money input[type=submit]{
	width:30%;
	height:100%;
}

.btn_pay{
	width:25%;
	background-color:#5AAD4F;
	margin:0;
}

.table_transactions{
	width:100%;
	border:1px solid black;
	border-spacing: 0;
}

.table_transactions thead tr th{
	color:white;
	padding: 25px 0;
	font-size:20px;
	background-color: #5AAD4F;
}

.table_transactions tr:nth-child(odd) { 
background-color: #f5f5f5; 
} 

.table_transactions tr td{
	width:33.33%;
	font-size:20px;
	text-align:center;
	align-items:center;
	padding: 25px 0;
}

.pagination{
	display:flex;
	justify-content:center;
	margin:5px auto;
	border-radius:5px;
}

.pagination table{
	border-spacing:0;
}


.pagination tbody tr :first-child{
	border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right-width: inherit;
    border: 1px solid #b3b3b3;

}

.pagination tbody tr :last-child{
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left-width: inherit;
}


.pagination tbody tr td {
	border-right:1px solid #b3b3b3; 
	border-top:1px solid #b3b3b3; 
	border-bottom:1px solid #b3b3b3; 
	color: #2b71ff;
	padding:10px 13px;
}

/************\
   Profile
\************/

.control_informations{
	width:100%;
}

.control_informations input {
	margin:0 7px;;
}

.control_add_money{
	width: 70%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: start;
    align-items: center;
	
}

.content_input_money{
	display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
}

.content_input_money :first-child{
	width:25%;
}

.content_input_money :last-child{
	width:70%;
}

/************\
  addFriend
\************/

.container_choose_friend {
	width: 70%;
    height: 35%;
    margin: auto;
    justify-content: space-around;
    display: flex;
}

.container_choose_friend select {
	width: 65%;
}

.table_friend tr td {
	width:30%;
}

/************\
   Contact
\************/

.contact{
	height:100%;
}

textarea {
	width: 80%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 150px;
    font-family: 'Roboto';
    padding: 10px;
    margin: 20px auto 40px auto;
}